<% if user_like %>
  <%= link_to question_like_path(@question, user_like), method: :delete do %>
  <span class="glyphicon glyphicon-heart"></span>
  <% end %>
<% else %>
  <%= link_to question_likes_path(@question), method: :post do %>
    <span class="glyphicon glyphicon-heart-empty"></span>
    <% end %>
<% end %>
