<h1>All Questions</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Question Title</th>
        <th>Creator</th>
        <th>Likes</th>
        <th>Votes</th>
      </tr>
    </thead>
  <% @questions.each do |q| %>
    <tbody>
      <tr>
        <td><%= link_to q.title, question_path(q) %></td>
        <td><%= q.user_full_name %></td>
        <td><%= q.likes.count %></td>
        <td><%= q.vote_value %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
