<h1>Awesome Answers</h1>

<%= react_component "HelloWorld", name: "Cristian" %>

<button type="button" class="btn btn-primary">Click Me</button>
<%= button_tag "Click Me Too!", class:"btn btn-success" %>
